{:functions ({:args [{:spelling "grammar_str", :type "const char *"}], :ret {:spelling "struct llama_grammar *"}, :function/args [[:coffi.mem/pointer :coffi.mem/char]], :symbol "llama_parse_grammar", :function/ret [:coffi.mem/pointer :clong/llama_grammar], :type "CXType_FunctionProto", :linkage "CXLinkage_External", :id :llama_parse_grammar, :raw-comment nil, :kind "CXCursor_FunctionDecl", :spelling "llama_parse_grammar"}), :structs (), :enums ()}