[submodule "modules/kit-modules"]
  path = modules/kit-modules
  url = https://github.com/kit-clj/modules
[submodule "native/llama.cpp"]
  path = native/llama.cpp
  url = git@github.com:vortext/llama.cpp
[submodule "native/native/hnswlib"]
  path = native/native/hnswlib
  url = git@github.com:vortext/hnswlib.git
