pom.xml
pom.xml.asc
*.jar
*.class
/lib/*
!/lib/.gitkeep
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo
.lsp
/log/
*.log
.Rhistory
/log/*
.envrc
.secrets.edn
.syncthing*
.sync-conflict*
esther_dev.db
cache/*.bin
resources/public/assets/*.min*
.salt
