{:system/env
 #profile {:dev :dev
           :test :test
           :prod :prod}

 :server/http
 {:port #long #or [#env PORT 3000]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}
 :handler/ring
 {:router #ig/ref :router/core
  :api-path "/api"
  :cookie-secret #or [#env COOKIE_SECRET "ZMIEHXXJLZIUFHAW"]
  ;; from ring.middleware.defaults. anti-forgery `false` by default because services may not require it
  :site-defaults-config {:params {:urlencoded true
                                  :multipart true
                                  :nested true
                                  :keywordize true}
                         :cookies true
                         :session {:flash true
                                   :cookie-name "vortext.esther"
                                   :cookie-attrs {:max-age 86400
                                                  :http-only true
                                                  :same-site :strict}}
                         :security {:anti-forgery false
                                    :xss-protection {:enable? true,
                                                     :mode :block}
                                    :frame-options :sameorigin
                                    :content-type-options :nosniff}
                         :static {:resources "public"}
                         :responses {:not-modified-responses true
                                     :absolute-redirects true
                                     :content-types true
                                     :default-charset "utf-8"}}}

 :util.handlebars/instance {}

 :ai.llm/instance
 {:llm/params {:model-path #or [#env GGML_MODEL_PATH "./models/guff/mythomax-l2-13b-q5_K_M.guff"]
               :n-ctx 4096
               :n-gpu-layers 26
               ;; :rope-freq-base 10000
               :tau 5
               :eta 0.1
               :prompt-template  "templates/prompt"
               :grammar-file "grammars/chat.gbnf"}
  :template/renderer #ig/ref :util.handlebars/instance
  :template/vars {:system {:prefix "" ;; "<|system|>"
                           :suffix ""}
                  :user {:prefix "User: " ;; "<|user|>"
                         :suffix ""}
                  :model {:prefix "Esther: " ;; "<|model|>"
                          :suffix ""}}}


 :reitit.routes/api
 {:base-path "/api"
  :env #ig/ref :system/env}

 :reitit.routes/ui
 #profile {:dev {:base-path "",
                 :default-path "/user/conversation"
                 :db {:query-fn  #ig/ref :db.sql/query-fn
                      :connection #ig/ref  :db.sql/connection}
                 :env #ig/ref :system/env

                 :ai/llm #ig/ref :ai.llm/instance}}
 :nrepl/server {:port #long #or [#env NREPL_PORT 7001],
                :bind #or [#env NREPL_HOST "127.0.0.1"]}
 :db.sql/query-fn {:conn #ig/ref :db.sql/connection,
                   :options {},
                   :filename "sql/queries.sql"}
 :db.sql/migrations {:store :database,
                     :db {:datasource #ig/ref :db.sql/connection},
                     :migrate-on-init? true}
 :db.sql/connection #profile {:dev {:jdbc-url "jdbc:sqlite:esther_dev.db"},
                              :test {:jdbc-url "jdbc:sqlite:esther_test.db"},
                              :prod {:jdbc-url #env JDBC_URL}}

 :users/ensure-test-user
 {:db {:query-fn  #ig/ref :db.sql/query-fn}
  :depends-on [:db.sql/migrations]}

 :router/routes #profile
 {:dev
  {:routes #ig/refset :reitit/routes
   :depends-on [:users/ensure-test-user]}}

 :router/core
 {:routes #ig/ref :router/routes}}
