html {
  font-family: 'IBM Plex Serif', "Noto Emoji", serif;
  font-family: 'IBM Plex Mono', "Noto Emoji", monospace;
  font-family: 'IBM Plex Sans', "Noto Emoji", sans-serif;
  font-family: 'IBM Plex Serif', "Noto Emoji", serif;
  color: rgb(10,10,10);
  max-width: 50em;
  margin: 2em auto;
  background-color: #fafafa;
  padding-bottom: 5em;
}
#title {
  font-weight: 200;
  text-align: center;
  text-shadow: rgba(0,0,0,0.125) 3px 0 5px;
}
#subtitle {
  font-size: 12pt;
  font-weight: 200;
  color: rgb(100,100,100);
}
.memory .request {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  padding: 1em 0;
}
.memory .response {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  padding: 1em 0;
}

#user-value {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  padding: 1em 0;
}

@keyframes loading {
  0% {
    animation-timing-function: cubic-bezier(0,0.5,0.5,1);
    top: 32px;
  }
  30% {
    animation-timing-function: cubic-bezier(0.5,0,1,0.5);
    top: 26px;
  }
  60% {
    animation-timing-function: cubic-bezier(0.5,0.5,0.5,0.5);
    top: 32px;
  }
  100% {
    top: 32px;
  }
}
.loading div {
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: loading 0.9345794392523364s infinite;
}
.loadingio-spinner-typing-loading {
  display: inline-block;
  background: none;
}
.loading {
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading div { box-sizing: content-box; }

.loadingio-spinner-typing-loading .loading .first {
  left:0px;
  background:rgba(0,0,0, 0.75);
  animation-delay:-0.560s;
}

.loadingio-spinner-typing-loading .loading .second {
  left:22px;
  background:rgba(0,0,0, 0.50);
  animation-delay:-0.373s;
}
.loadingio-spinner-typing-loading .loading .third {
  left: 44px;
  background:rgba(0,0,0,0.25);
  animation-delay:-0.186s;
}

#loading-response {
  display: none;
}

#loading-response.htmx-request {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -22px;
  top: 1em;
}


#user-echo {
  display: none;
}

#conversation {
  transition: all 0.25 ease-out;
}

#conversation .memory .response {
  transition: opacity 0.25s ease-out;
}

#conversation .memory.htmx-added .response {
  opacity: 0;
}

#conversation .memory .response {
  opacity: 1;
}

#conversation.loading-state.htmx-request #user-echo {
  display: block;
}

#user-input {
  width: 100%;
  margin-top: 2em;
  font-family: "Noto Emoji", 'IBM Plex Serif', "Times", serif;
  border: none;
  font-size: 14pt;
  background: transparent;
  outline: none;
}
