/* Login Box Styles */

html { /* or html */
  background-image: url("/resources/public/img/background.png");
  background-size: cover; /* instead of contain */
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional: makes background fixed during scroll */
  margin: 0; /* optional: remove default margin */
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  width: 300px;
  background: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--desaturated-color3);
  padding: 2em;
  text-align: center;
}

form {
  margin-top: 0.5em;
}

.form-group {
  margin-bottom: 1em;
}

h1 {
  font-weight: 300;
  text-align: center;
  color: var(--secondary-color);
  margin: 0 0 0.5em 0;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--desaturated-color2);
  border-radius: 5px;
  background: var(--desaturated-color1);
  margin-top: 0.5em;
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-primary);
  box-shadow: 0 0 5px var(--accent-primary);
}

.error {
  color: var(--accent-primary);
  font-family: var(--font-family-sans);
}

label, input {
  font-family: var(--font-family-sans);
}

.action {
  width: 7em;
  height: 45.6px;
}

.sign-in-text {
  display: inline;
}

.htmx-indicator {
  display: none;
}

.submitting .sign-in-text {
  display: none;
}

.submitting .htmx-indicator {
  display: inline;
}
