:root {
  --font-family: "IBM Plex Serif", serif;
  --font-family-mono: "IBM Plex Mono", monospace;
  --font-family-sans: "IBM Plex Sans", sans;
  --line-height: 1.6;
  --accent: #6F6E6C; /* Replaced with one of the dominant colors */
  --font-color: #242323; /* Darker color for text from the dominant palette */
  --background-color: #EEEEEC; /* Lighter background from the dominant palette */
  --secondary-color: #6B6A69; /* Secondary color for various elements */
  --font-size-base: 12pt;
  --subdued-color: #B1B0AE; /* Subdued color from the dominant palette */
  /* Additional colors based on your sections */
  --desaturated-color1: #E4E4E2;
  --desaturated-color2: #2D2D2C;
  --desaturated-color3: #6D6866;
  --desaturated-color4: #84807E;
  --accent-primary: #B52D10; /* Primary accent color */
  --accent-secondary: #EC8050; /* Secondary accent color */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; /* Reset margin and padding */
}

html {
  background: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  line-height: var(--line-height); /* Slightly increased line-height for a more book-like feel */
}

pre, code {
  font-family: "IBM Plex Mono", monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--font-color);
}

table th, table td {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

table th {
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    margin: 1em; /* Reduce margin on small screens */
  }

  #title {
    font-size: 1.8em;
  }

  #subtitle {
    font-size: 0.83em;
  }

  #user-input {
    margin-top: 1em;
  }
}

.button {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
}

.button-primary {
  background-color: var(--accent-primary);
  color: #FFFFFF;
}

.button-primary:hover {
  background-color: var(--accent-secondary);
}

.button-secondary {
  background-color: var(--accent-secondary);
  color: #FFFFFF;
}

.button-secondary:hover {
  background-color: #c16840;
}

.button-info {
  background-color: var(--desaturated-color1);
  color: var(--font-color);
}

.button-info:hover {
  background-color: var(--subdued-color);
}

.button-warning {
  background-color: #FFC107;
  color: var(--font-color);
}

.button-warning:hover {
  background-color: #e0a800;
}


.hidden {
  visibility: hidden;
}

.md-mono {
  font-family: var(--font-family-mono);
}
.md-sans {
  font-family: var(--font-family-sans);
}
.md-serif {
  font-family: var(--font-family-serif);
}
